<!DOCTYPE html>
<html>
<head>
  <title>ActiveJob</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= link_to 'Click this to make a job', '/application/geo_code_the_things', :method => :post  %>

</body>
</html>
